.ArrayRenderer {
    background: #eee;
    display: inline-flex;
    padding: 0.5em;
}

.ArrayRenderer__element {
    width: 2em;
    height: 2em;
    background: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5em;
}

.ArrayRenderer__element:first-child {
    margin-left: 0;
}

.ArrayRenderer__pointer {
    position: absolute;
    text-align: center;
    top: -2em;
    width: 100%;
}
