.VisualiserLayout {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
}

.VisualiserLayout__half-column {
    height: 100%;
    flex: 1 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.VisualiserLayout__side-panel {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: center;
}

.VisualiserLayout__code,
.VisualiserLayout__documentation {
    flex: 1 0;
    display: flex;
    align-items: flex-start;
    min-height: 50%;
    padding: 1em;
}

.VisualiserLayout__documentation {
    padding-top: 0;
}

.VisualiserLayout__controls {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 850px) {
    .VisualiserLayout {
        flex-flow: column nowrap;
    }

    .VisualiserLayout__side-panel {
        overflow: scroll;
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

    .VisualiserLayout__code,
    .VisualiserLayout__documentation {
        width: 100%;
        flex: none;
    }
}
