.Menu {
    position: fixed;
    z-index: 10;
    height: 100%;
    transform: translateX(-100%);
    transition: all 300ms ease-in-out;
    background: #fff;
}

.Menu--open {
    transform: translateX(0);
}

.Menu__toggle {
    position: absolute;
    right: -3em;
}

.Menu__groups {
    list-style: none;
    margin: 0;
    padding: 0;
}
.Menu__group-title {
    padding: 0.3em 0.5em;
    background: #ddd;
    display: block;
}
.Menu__group-items {
    list-style: none;
    margin: 0;
    padding: 0;
}
.Menu__group-item {
    background: #eee;
    padding: 0.5em;
    display: block;
}
